<div class="veldoptie_bankaccount_wrap" data-ng-controller="nl.mintlab.core.IsolationController">
	<div data-zs-case-webform-iban-field>
		<input type="text" [% my_veldoptie_id %] name="[% veldoptie_name %]" data-ng-init="[% veldoptie_name %]='[% veldoptie_value %]'" data-ng-model="[% veldoptie_name %]" data-zs-iban-validate class="veldoptie_[% veldoptie_type %]" data-zs-placeholder="'Bijv. NL91ABNA0417164300'"/>

		<div class="validation-message kenmerk-veld-validation-message invalid rounded" aria-live="polite">
	        <div class="validate-content"><i class="icon-remove-sign icon-font-awesome"></i>Vul een geldig rekeningnummer in. (bijv: NL91ABNA0417164300)</div>
	    </div>

		<i data-ng-show="[% veldoptie_name %].length&&caseForm.[% veldoptie_name %].$valid" class="veldoptie_email_icon veldoptie_email_ok icon-font-awesome icon-ok"></i>

		<i data-ng-show="!caseForm.[% veldoptie_name %].$valid&&!caseForm.[% veldoptie_name %].$pristine" class="veldoptie_email_icon veldoptie_email_ok icon-font-awesome icon-remove"></i>
	</div>
</div>
