    <tr class="ezra_inavigator_bibliotheek_categorie_selector" [% IF hidden %]style="display:none;"[% END %]>
        <td class="td300">Categorie</td>
        <td class="td310">
            [% PROCESS widgets/general/categorie.tt 
            fieldname = fieldname %]
        </td>
        <td class="tdvar">
            [% PROCESS widgets/general/validator.tt  message = 'Categorie is verplicht' %]
            [% PROCESS widgets/general/tooltip.tt    message = 'Selecteer hier de juiste categorie.' %]
        </td>
    </tr>