

<div class="kenmerken" dddclass="ztAjaxUpdate ui-accordion-content ui-accordion-taken-kenmerken">

<h2 class="panel-title-top">Kenmerken</h2>

    [% UNLESS pip %]
        <!--div class="ztAjaxUpdate_loader"></div-->
    [% END %]
    <div class="inner">
        <form action="/zaak/[% zaak.nr %]/update" class="webform" method="post" enctype="multipart/form-data">
            <div class="formOverlay"></div>
            <input type="hidden" name="fase" value="[% requested_fase.status %]" />
            <input type="hidden" name="confirmed_post" value="1" />
            <div class="ztAjaxUpdate_dest webformcontent">
                <div class="webform_inner">
                    <div class="spinner-groot">
                        <div>
                            <span class="spinner-groot-message">
                            </span>
                        </div>
                    </div>
                    <div class="autosave">
                        <img src="[% c.uri_for('/tpl/zaak_v1/nl_NL') %]/images/loader-autosave.gif" />
                        <div class="ezra_webform_saving"></div>
                    </div>
                    [% PROCESS zaak/fields.tt %]
                </div>
            </div>

            [% IF 0 && (!pip && c.can_change) || KENMERK_CHANGES_ALLOWED %]  

                <input type="submit" class="button button-primary right last" name="my_submit" value="Opslaan" />

            [% END %]
        </form>
        <br />
    </div>
</div>
