[% BLOCK attr_checkbox_solo %]
<div class="column large-7">
    <input type="hidden" name="dialog_checkboxes" value="[% name %]" />
    <input type="checkbox"
           name="[% name %]"
           value="1"
           [% IF class %]
           class="[% class %]"
           [% END %]
           [% IF $param %]
           checked="checked"
           [% END %]/> [% description %]
</div>
[% END %]

[% BLOCK attr_checkbox %]
<div class="column large-5">[% title %]</div>
[% PROCESS attr_checkbox_solo %]
[% END %]

[% BLOCK attr_textbox %]
<div class="column large-5">[% title %]</div>
<div class="column large-7">
    <input
      type="text"
      name="[% name %]"
      value="[% $param | html_entity %]"
      class="input_large"
      [% IF placeholder %]
      placeholder="[% placeholder %]"
      [% END %]
    >
</div>

[% END %]
