<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Deze setting bepaalt welke annotaties verschijnen in de PDF preview dialoog.',
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
	        <label>Annotaties zijn inzichtelijk voor andere behandelaars</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<input type="checkbox" name="pdf_annotations_public" [% value ? 'checked="checked"' : '' %] />
		</div>
	</div>

</div>