[% IF pip %]
<link href="/css/pip.min.css" type="text/css" rel="stylesheet" />
[% END %]

<link href="/css/angular-csp.css" type="text/css" rel="stylesheet" />
<link href="/css/forms.min.css" type="text/css" rel="stylesheet" />
<link href="/css/tables.min.css" type="text/css" rel="stylesheet" />
<link href="/css/buttons.min.css" type="text/css" rel="stylesheet" />
<link href="/css/icons.min.css" type="text/css" rel="stylesheet" />
<link href="/css/form.min.css" type="text/css" rel="stylesheet" />
<link href="/css/jquery.min.css" type="text/css" rel="stylesheet" />
<link href="/css/woz.min.css" type="text/css" rel="stylesheet" />
<link href="/css/crud.min.css" type="text/css" rel="stylesheet" />
      
<base href="/" />
