[% USE date %]
[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]

    <div id="webform-intake">

        <div class="block">
        <div class="block-header clearfix">
            <div class="block-header-inner">
                <h1 class="block-header-title">[% zaaktype.titel %]</h1>
            </div>
        </div>
            <div id="content" class="block-content">

                [% PROCESS form/navigation.tt %]
                [% step_title = 'Gegevens van de vorige zaak gebruiken';
                   IF existing_case_location;
                    step_title = 'Zaak met zaaklocatie bestaat al';

                  END;
                %]
                  <h2 class="stap-titel">[% step_title %]</h2>

        <form method="post" action="[% c.uri_for('/zaak/create/' _ aangevraagd_via _ '/zaakcontrole') %]">
            <input type="hidden" name="ztc_aanvrager_type" value="[% ztc_aanvrager_type %]" />
            <fieldset>

                [% IF vorige_zaak %]
                <input type="hidden" name="vorige_zaak" value="[% vorige_zaak.nr %]" />
                [% END %]

                [% IF vorige_zaak || concept_zaak %]
                    <p class="subnote">Het blijkt dat u al eens een aanvraag heeft gedaan
                    voor een [% definitie.titel %]. <br/>Wilt u de
                    gegevens van een vorige aanvraag gebruiken?</p>

                    [% IF concept_zaak %]
                    <div class="radio-item">
                        <input type="radio" name="copy_gegevens" id="copy_gegevens_concept" value="concept_zaak"/>
                        <label>
                            Ja, ik wil verder gaan met de conceptzaak en het formulier verder invullen
                            <br />
                            Invuldatum:
                            [% concept_zaak.created.set_time_zone('Europe/Amsterdam').set_locale('nl_NL').strftime('%e %B %Y, %H:%M uur') %]
                        </label>
                    </div>
                    <br />
                    [% END %]

                    [% IF vorige_zaak %]
                    <div class="radio-item">
                        <input type="radio" name="copy_gegevens" id="copy_gegevens_vorige" value="vorige_zaak"/>
                        <label>
                            Ja, ik wil graag dezelfde gegevens van de vorige zaak weer gebruiken en wellicht aanpassen
                            <br />
                            Registratiedatum:
                            [% vorige_zaak.created.set_time_zone('Europe/Amsterdam').set_locale('nl_NL').strftime('%e %B %Y, %H:%M uur') %]
                            <br />
                            Zaaknummer:
                            [% vorige_zaak.get_column('id') %]
                        </label>
                    </div>
                    <br />
                    [% END %]

                    <div class="radio-item">
                        <input type="radio" name="copy_gegevens" id="copy_gegevens_geen" value="0" checked="checked"/>
                        <label>
                            Nee, ik wil alle gegevens opnieuw invullen
                        </label>
                    </div>
                    <br />

                [% ELSIF existing_case_location %]
                    <input type="hidden" name="process_step_index" value="[% process_step_index %]" />
                    <p class="subnote">
                        [% IF existing_case_location_msg;
                            existing_case_location_msg | html_entity;
                           ELSE;
                           'Er bestaat al een zaak voor ' _
                           definitie.titel _
                           ' op deze locatie. U kunt ervoor kiezen om' _
                           ' de aanvraag af te breken of verder te gaan' _
                           ' met het invullen van het formulier.';
                           END;
                        %]
                    </p>
                    <div class="radio-item">
                        <input
                          type="radio"
                          name="case_location"
                          id="case_location_continue"
                          value="continue"
                        />
                        <label>Ik wil het formulier verder invullen</label>
                    </div>
                    <br/>
                    <div class="radio-item">
                        <input
                          type="radio"
                          name="case_location"
                          id="case_location_abort"
                          value="abort"
                          checked
                        />
                        <label>Ik wil de aanvraag afbreken</label>
                    </div>
                    <br />

                [% ELSE %]
                    <strong>Wij hebben nog geen soortgelijke zaak van u aangetroffen</strong>
                [% END %]

                <br />
                <br />
                <br />

                <div class="form-actions form-actions-old clearfix">
                  <a href="[% c.uri_for('/logout', { redirect => 'gemeente_portal' }) %]"
                     title="Annuleren"
                    class="button button-secondary left">Annuleren</a>

                  <button type="submit"
                      class="button button-primary right">Volgende</button> </div>
            </fieldset>
        </form>

        </div>
        </div>

    </div>

<!-- [% IF nowrapper %]


</body>
</html>
[% END %] -->


[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]

