[%
#    'urn:oasis:names:tc:SAML:2.0:status:AuthnFailed' = 'cancelled',
#    'urn:oasis:names:tc:SAML:2.0:status:NoAuthnContext' = 'context_insufficient',
#    'urn:oasis:names:tc:SAML:2.0:status:PartialLogout' = 'partial_logout',
#    'urn:oasis:names:tc:SAML:2.0:status:RequestDenied' = 'denied'

IF saml_error;
THEN;

    SWITCH saml_error;
        CASE 'urn:oasis:names:tc:SAML:2.0:status:AuthnFailed';
            error_message = 'U heeft het inloggen bij DigiD geannuleerd.';
        CASE;
            error_message = 'Er is een fout opgetreden in de communicatie'
                _ ' met <a href="https://www.digid.nl/">DigiD</a>.  Probeert '
                _ ' u het later nogmaals. Indien deze fout blijft aanhouden,'
                _ ' kijk dan op de website van <a'
                _ ' href="https://www.digid.nl/">DigiD</a> voor de laatste'
                _ ' informatie.';
    END; %]
<div class="saml_error">
    <span>[% error_message %]</span>
</div>
[% END; %]
